@media print {
  
    .navbar-toggler,.sidebar,header .button .a{
        display: none;
        border: 1px solid black;
    }
    
  }
  @media print {
    #btnPrint {
      display: none;
    }
    #branchName{
        display: none;
    }
}   
@media print{
    #btnBack {
        display: none;
    }
}


@media print {
    #searchDiv {
      display: none;
    }
} 

@media print {
    #logoImage {
      display: none;
    }
} 


@page { size: auto;  margin: 0mm; }
@media print{
    .page-titles,p,h1,h2{
        display: none;           
   }
  }